<p-button (click)="navigateSelected()" label="Visualizar Selecionado" severity="success"></p-button>
<p-button [routerLink]="['add-person']" label="Adicionar Pessoa" severity="info"></p-button>


<p-table [value]="persons" [tableStyle]="{ 'min-width': '50rem' }" [(selection)]="selectedPerson" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th  style="width: 4rem">Selecione</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
        <tr>
            <td>
                <p-tableRadioButton [value]="person" />
            </td>
            <td [routerLink]="['dados-pessoa/', person.id]">{{ person.name }}</td>
            <td (click)="navigate(person.id)">{{ person.age }}</td>
        </tr>
    </ng-template>
</p-table>