app-nav-bar {
    flex-grow: 1; min-width: 200px;
}

.main-body {
    flex-grow: 10; width: 600px;
    padding: 5px;
}

.app-content {
    display: flex;
    flex-direction: row;
}

app-footer {
    position: fixed ;
    bottom: 10px;
    left: 50%;
    right: 50%;
}